.modal-content {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background: #227B94;
    color: white;
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .modal-content {
      width: 80%;
      margin: auto;
      padding: 1rem;
    }
  
    .modal-header {
      font-size: 1.2rem;
      padding: 1rem;
    }
  
    .modal-footer {
      padding: 0.8rem;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .modal-content {
      width: 90%;
      margin: auto;
      padding: 1rem;
    }
  
    .modal-header {
      font-size: 1rem;
      text-align: center;
      padding: 0.8rem;
    }
  
    .modal-footer {
      padding: 0.6rem;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 575px) {
    .modal-content {
      width: 95%;
      margin: auto;
      padding: 0.8rem;
      border-radius: 8px;
    }
    .container{
        justify-content: center;
    }
    .side-header{
        margin-right:30%;
    }
  
    .modal-header {
      font-size: 0.9rem;
      padding: 0.6rem;
      text-align: center;
    }
  
    .modal-footer {
      padding: 0.5rem;
      text-align: center;
    }
    .add-schedule{
        height: 10%;
    }
    .mgn{
        width: 300px;
    }
  }
  
