.modal-content {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background: #227B94;
    color: white;
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
